
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form action="/Home/Login" method="post">

    <br /><br />Username: <input type="text" class="form-control" name="Username" />

    <br /><br />Password: <input type="password" class="form-control" name="Password" />

    <br /><input type="submit" value="Login" class="btn btn-success" />
</form>