@model List<Task.Models.Entities.Product>
@{
    ViewBag.Title = "Checkout";
}

<p style="text-align: center; color: green">Order Added Successfully!</p>

<p style="text-align: center;"><a href="/product/Yorder" class="btn btn-success">Order Again?</a></p>
<p style="text-align: center;"><a href="/product/list" class="btn btn-success">Go Back To List</a></p>